<html>
  <head>
    <title>CREATIVE APP NAME</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/mystyle.css"/>
  </head>
  <body>
    <h1><a href="/">CREATIVE APP NAME</a></h1>
    <br></br>
    <div class="tab"><a href="/">Home</a></div>
    <div class="tab" id="accomptab"><a href="/accomp">Accomplishments</a>
        <div class="dropdown_content">
          <p><a href="/accomplibrary">Library</a></p>
        </div>
      </div>
    <div class="tab"><a href="/comp">Compliments</a>
      <div class="dropdown_content">
        <p><a href="/WHAT IS THE HREF">Save A Message</a></p>
        <p><a href="/NEW HREF">Send a message</a></p>
        <p><a href="/complibrary">Library</a></p>
      </div>
    </div>
    <div class="tab"><a href="/journal">Journal</a></div>
    <br></br>

    <br></br>
    <form method="post" name="formC">
      <h3>Compliments</h3>
      <p> Be Kind To Yourself<input type="text" name="comp_text" id = "comp_text"<p>
      <button type="submit" id="login">Submit</button>
      <br></br>
    </form>
    <a href="/complibrary"><img src="https://cdn4.iconfinder.com/data/icons/eldorado-education/40/291400-books_2-512.png" class="library"></a>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"> </script>
    <script src="/events.js"></script>

  </body>
</html>
