<!DOCTYPE html>
<html>
  <head>
    <title>Cool Rad Home Page</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/mystyle.css"/>
  </head>
  <body>
    <br></br>
    <div class="tab"><a href="/">Home</a></div>
    <div class="tab"><a href="/accomp">Accomplishments</a></div>
    <div class="tab"><a href="/compliments">Compliments</a></div>
    <div class="tab"><a href="/journal">Journal</a></div>
    <br></br>
    <h1>Home</h1>
    <h2>RANDOMLY GENERATED COMPLIMENT</h2>
  </body>
</html>
