<!DOCTYPE html>
<html>
  <head>
    <title>Cool Rad Home Page</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/mystyle.css"/>
  <link rel="stylesheet" type="text/css" href="stylesheets/stars.css"/>

  </head>
  <body>
    <h1><a href="/">Confide In Me</a></h1>
    <br></br>
    <div class="tab"><a href="/">Home</a></div>
    <div class="tab" id="accomptab"><a href="/accomp">Accomplishments</a>
        <div class="dropdown_content">
          <p><a href="/accomplibrary">Library</a></p>
        </div>
      </div>
    <div class="tab"><a href="/comp">Compliments</a>
      <div class="dropdown_content">
        <p><a href="/WHAT IS THE HREF">Save A Message</a></p>
        <p><a href="/NEW HREF">Send a message</a></p>
        <p><a href="/complibrary">Library</a></p>
      </div>
    </div>
    <div class="tab"><a href="/journal">Journal</a></div>
    <br></br>
    <h1>Home</h1>
    <h2>{{random_compliment}}</h2>
    <form method="post">
    <fieldset class="rating">
      <legend>How are you feeling today?</legend>
      <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
      <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
      <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
      <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
      <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
    </fieldset>
    <p>
      <br>
    </br>
    <br>
  </br>
  <br>
    </br>
    <button type="submit">Submit</button></form>
    </p>
  </body>
</html>
