<html>
<head>
<link rel="stylesheet" type="text/css" href="mystyle.css">
</head>


<ul class="tab">
  <li><a href="#" class="tablinks" onclick="openJournal(event, 'Journal')">Journal</a></li>
  <li><a href="#" class="tablinks" onclick="openAccomplishments(event, 'Accomplishments')">Accomplishments</a></li>
  <li><a href="#" class="tablinks" onclick="openCompliments(event, 'Compliments')">Compliments</a></li>
</ul>

<div id="Journal" class="tabcontent">
  <h3>Journal</h3>
  <p>Imput your journal enteries.</p>
</div>

<div id="Accomplishments" class="tabcontent">
  <h3>Accomplishments</h3>
  <p>Imput your accomplishments.</p>
</div>

<div id="Compliments" class="tabcontent">
  <h3>Compliments</h3>
  <p>Imput your Compliments.</p>
</div>
</html>
