<!DOCTYPE html>
<html>
  <head>
    <title>CREATIVE APP NAME</title>
  </head>
  <body>
    <h1>CREATIVE APP NAME</h1>

    <form method="post" name="formA">
      <h3>Log In</h3>
      <p>Username: <input type="text" name="username" id="username"></p>
      <p>Password: <input type="password" name="password" id="password"/></p>
      <button type="submit" id="login">Log In</button>
      <br></br>
      <h3>Register</h3>
      <button type="submit" id="register">Register</button>
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"> </script>
    <script src="/events.js"></script>

  </body>
</html>
