div.container {
    width: 100%;
    border: none;
}
nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul a {
    text-decoration: none;
}

article {
    margin-left: 170px;
    border-left: none;
    padding: 1em;
    overflow: hidden;
}

textarea {
  height: 250px;
  width: 500px;
}
