@import url(https://fonts.googleapis.com/css?family=Ubuntu);

body {
  background-image: url("CuteBear.jpg");
  background-size:  cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: 'Ubuntu', sans-serif;
}

.tab {
  display: inline-block;
  float: left;
  width: 25%;
  height: 20px;
  border: none;
}

.willitwork {
  float: left;
  height: 600px;
  width: auto;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: #ffd9b3;
}

.library {
  height:50px;
  width: 50px;
  bottom: 10px;
  position: fixed;
}

.tab {
  position: relative;
  display: inline-block;
}

.dropdown_content {
  display: none;
  position: absolute;
  min-width: 160px;
}

.tab:hover .dropdown_content {
  display: block;
}
